    <div class="list-group-item text-info"
         ng-class="(node.__selected__ ? 'list-group-item-success ':' ') + $node_class"
         ng-click="onClick(node)"
         ng-style="expandingProperty.cellStyle ? expandingProperty.cellStyle : {}">
        <a class="btn btn-default" aria-label="Justify" type="button" tree-dnd-node-handle>
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> </a>

        {{node[expandingProperty.field] || node[expandingProperty]}}

        <span ng-class="node.__icon_class__" ng-click="toggleExpand(node)"></span>

        <div class="pull-right">
            <span ng-repeat="col in colDefinitions" ng-class="col.cellClass" ng-style="col.cellStyle"
                  compile="col.cellTemplate">
                {{node[col.field]}}
            </span>
        </div>
    </div>
    <ul tree-dnd-nodes>
        <li tree-dnd-node="node" ng-repeat="node in node.__children__ track by node.__hashKey__"
            ng-show="node.__visible__" compile="expandingProperty.cellTemplate"
            ng-include="'app/features/service/serviceTreeTemplateFetch.html'"></li>
    </ul>